#

configdir = /etc/rsget.pl

_workdir = /var/lib/rsget.pl

_dbfile = %{_workdir}/rsget.sqlite

db = dbi:SQLite:dbname=%{_dbfile}
db_user =
db_pass =
db_prefix =

# db = dbi:Pg:dbname=rsget
# db_user = postgres_user
# db_pass = postgres_password
# db_prefix =

# db = dbi:mysql:database=rsget
# db_user = mysql_user
# db_pass = mysql_password
# db_prefix =

partialfile = %{_workdir}/partial/%{user}/%{group}/%{file}

donefile = %{_workdir}/done/%{user}/%{group}/%{file}
